body {
    background-color: #14202c;
    background-attachment: fixed;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    color: #1869be;
    background: linear-gradient(to right, #084CFB, #ADF3FD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 20px;
}

.image-gallery img {
    max-width: 100px;
    height: auto;
}

.image-container {
    position: relative;
}

.tooltip {
    position: absolute;
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.tooltip h2 {
    margin: 0;
    font-size: 1.2em;
}

.tooltip p {
    margin: 5px 0;
}